{% extends 'base.html' %}

{% block title %}{{ config['SITE_NAME'] }} | آژانس دیجیتال مارکتینگ{% endblock %}

{% block content %}
    {% include 'components/hero.html' %}
    {% include 'components/trust_bar.html' %}
    {% include 'components/services_section.html' %}
    {% include 'components/stats.html' %}
    {% include 'components/cases_section.html' %}
    {% include 'components/process.html' %}
    {% include 'components/testimonials.html' %}
    {% include 'components/cta.html' %}
    {% include 'components/footer.html' %}
{% endblock %}
